body {
    min-width: 600px !important;
}
#wpbody, input[type="text"], textarea, select {
    color: #333333;
}
b{
    font-weight: bold !important;
}
td, textarea, input, select {
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
td, textarea {
    line-height: inherit !important;
}
input.button-primary, button.button-primary, a.button-primary {
    font-weight: bold !important;
}
.wp-admin select {
    height: 22px !important;
    max-height: 22px !important;
    line-height: 19px !important;
    padding: 2px !important;
    vertical-align: top !important;
}
input[type="text"] {
    height: 22px !important;
}
input, select {
    margin: 1px !important;
}
input[type="checkbox"], input[type="radio"]{   
    cursor: pointer;
}
.button-primary {
    vertical-align: baseline !important;
}
div a, td a {
    text-decoration: none;
    cursor: pointer;
}
#wpbody-content {
    width: 1500% !important;
}
#user_info {
    height: 31px !important;
    overflow: hidden !important;
    position: relative !important;
    z-index: 11 !important;
}
.twiz-skin-bullet-up{
    top: 0px;
    z-index: 0;
}
.twiz-skin-bullet-down{
    top: 22px;
    z-index: -1;
}
.twiz-corner-top {
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-radius-topright: 6px;
    -khtml-border-radius-topleft: 6px;
}
.twiz-corner-bottom {
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-radius-bottomright: 6px;
    -khtml-border-radius-bottomleft: 6px;
}
.twiz-corner-all {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-radius-topleft: 6px;
    -khtml-border-radius-topright: 6px;
    -khtml-border-radius-bottomleft: 6px;
    -khtml-border-radius-bottomright: 6px;
}
#twiz_plugin {
    width: 98%;
    margin: 9px 0 15px 16px;
    position: relative;
    font-family: sans-serif !important;
    font-size: 12px !important;
    line-height: 1.4em !important;    
}
#twiz_master {
    width: 500px;
    margin-bottom: 20px;
    float: left;
    position:  relative;
}
#twiz_library_master {
    width: 500px;
    display: block;
}
#twiz_container {
    width: 500px;
    display: none;
}
.twiz-loading-gif {
    width: 20px;
    height: 20px;
    margin: 0px 1px;
}
.twiz-loading-gif-action {
    width: 26px;
    height: 23px;
    float: right;    
}
#twiz_like {
    width: 125px;
    left: 102px;
    position: absolute;
    z-index: 1;
}
.twiz-loading-bar {
    width: 43px;
    height: 19px;
    display: block;
    background: url(../../skins/blue/images/twiz-loading.gif) center center no-repeat;
    background-size: 43px 11px;
}
.twiz-toggle-img,
.twiz-toggle-img-view,
.twiz-toggle-img-admin,
.twiz-toggle-img-far {
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
}
.twiz-status  {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;    
    margin: 0 auto;       
}
#twiz_status_img_global { 
    margin: 3px 0 0 3px;
}
#twiz_status_img_hscroll { 
    float: left;
    left: 3px;
    position: relative;
    cursor: pointer;    
}
.twiz-active {
    background: url(../../images/twiz-active.png) no-repeat;
    background-size: 20px 20px;
}
.twiz-inactive {
    background: url(../../images/twiz-inactive.png) no-repeat;
    background-size: 20px 20px;    
}
.twiz-edit-img {
    width: 25px;
    height: 23px;
    background: url(../../images/twiz-edit.gif) no-repeat;
    background-size: 25px 23px;    
    float: right;
    cursor: pointer;
    display: block;
    margin-right: 3px;
}
.twiz-copy-img {
    width: 23px;
    height: 23px;
    background: url(../../images/twiz-copy.png) no-repeat;
    background-size: 22px 23px; 
    float: right;    
    cursor: pointer;
    display: block;
    margin-right: 3px;
}
.twiz-delete-img {
    width: 23px;
    height: 25px;
    background: url(../../images/twiz-delete.gif) no-repeat;
    background-size: 20px 23px;   
    float: right; 
    cursor: pointer;
    display: block;
    margin-right: 3px;
}
.twiz-save-dark {
    background: url(../../skins/blue/images/twiz-save-dark.gif) no-repeat;
    background-size: 20px 20px;    
}
.twiz-save {
    background: url(../../skins/blue/images/twiz-save.gif) no-repeat;
    background-size: 16px 16px;    
}
.twiz-save-bigger {
    background: url(../../skins/blue/images/twiz-save.gif) center center no-repeat;
    background-size: 20px 20px;    
}
.twiz-plus {
    background: url(../../images/twiz-plus.gif) center center no-repeat;
    background-size: 18px 18px;
}
.twiz-minus {
    background: url(../../images/twiz-minus.gif) center center no-repeat;
    background-size: 18px 18px;    
}
#twiz_edit_menu {
    cursor: pointer;
    font-size: 21px !important;
}
#twiz_edit_menu:hover {
    color: green;      
}
#twiz_delete_menu {
    cursor: pointer;
    font-size: 21px !important;
    font-weight: bold !important;
}
#twiz_delete_menu:hover {
    color: #aa0000;   
}
#twiz_background {
    width: 84%;
    min-height: 500px;
    position: fixed;
    right: 10%;
    top: 80px;
    background: url(../../skins/_default/images/twiz-logo-big.png) top right no-repeat;
    opacity: 0.15;
    filter: alpha(opacity=4);
    z-index: -1;
}
#twiz_network_status{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 35px;
    left: 469px;
    font-size: 21px !important;
    color: #0074a2;
    display: none;
}
#twiz_global_status,
#twiz_skin_bullet {
    background-color: #333333;
    border: 1px solid #222222;
    border-bottom: 0px;
}
#twiz_hscroll_status {
    width: 68px;
    height: 23px;
    padding: 9px 3px 0;
    margin: 27px 10% 0 0;   
    background-color: #333333;
    border: 1px solid #222222;
    border-top: 0px;
    position:fixed;
    right:0;
    top:0;
    z-index: 10;
}
@media only screen and (max-width:1282px){
#twiz_hscroll_status {
    margin: -14px 10% 0 0;
    padding: 9px 3px 0;
    position: absolute;
    left: 4.89%;
    top: 0;
}
}
@media only screen and (max-width:782px){
#twiz_hscroll_status {
    margin: -14px 10% 0 0; 
}
}
#twiz_global_status {
    margin: 0 0 0 233px;
    width: 25px;
    height: 25px;
}
#twiz_global_status img {
    margin: 3px 0px 1px 3px;
    cursor: pointer;    
}
#twiz_skin_bullet {
    width: auto;
    height: 25px;
    float: left;
    display: block;
    margin-left: 15px;
    position: absolute;
}
.twiz-skins {
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 2px;
    cursor: pointer;    
}
.twiz-skins-default {
    background: url(../../skins/_default/twiz-bullet.png) no-repeat;
}
.twiz-skins-blue {
    background: url(../../skins/blue/twiz-bullet.png) no-repeat;
}
.twiz-skins-green {
    background: url(../../skins/green/twiz-bullet.png) no-repeat;
}
.twiz-skins-red {
    background: url(../../skins/red/twiz-bullet.png) no-repeat;
}
.twiz-skins-yellow { 
    background: url(../../skins/yellow/twiz-bullet.png) no-repeat;
}
.twiz-right-panel {
    margin: 19px 0 0 15px;
    color: #333333;
    background-color: #ffffff;
}
.twiz-menu-header{
    font-size: 12px;
    height: 19px;
    padding: 5px;
    background-color: #222222;
    color: #BBBBBB;
}
#twiz_menuheader_status {
    width: 40px;
    padding-left: 5px;
    padding-right: 1px;    
}
#twiz_menuheader_section {
    width: 90%;
}
#twiz_menuheader_type {
    width: 75px;
}
.twiz-right-panel {
    border: 1px solid #333333;
    display: none;
    float: left;
    z-index: 1;
}
.twiz-right-panel img {
    margin-left: auto;
    margin-right: auto;
}
.twiz-clear {
    height: 0px;
    clear: both;
}
.twiz-panel-loading {
    border: 1px solid #ffffff;
    width: 420px;
    height: 200px;
    padding-top: 125px;
    text-align: center;
    background: #FFFFFF url(../../skins/blue/images/twiz-big-loading.gif) center no-repeat;
}
#twiz_head_title {
    font: 400 18px/32px "Open Sans",sans-serif;
    line-height: 30px;
    display: block;
    margin-top: 20px;
}
#twiz_head_title a {
    color: #EEEEEE;
}
#twiz_head_title a:hover {
    color: #2ea2cc;
}
#twiz_head_logo {
    width: 100px;
    height: 80px;
    background: url(../../skins/_default/images/twiz-logo-big.png) center no-repeat;
    background-size: 109px 85px;
    float: left;
    display: block;
    cursor: pointer;    
}
div #twiz_head_logo:hover {
    background: url(../../skins/blue/images/twiz-logo-big.png) center no-repeat;
    background-size: 109px 85px;    
}
#twiz_head_version {
    font-size: 12px;
    line-height: 12px;
}
#twiz_head_version a,
#twiz_footer a {
    color: #0074A2;
}
#twiz_head_version a:hover,
#twiz_footer a:hover {
    color: #2ea2cc;
}
#twiz_header {
    height: 80px;
    display: block;
    overflow: hidden;
}
#twiz_menu,
#twiz_header, 
#twiz_footer {
    display: table-cell;
}
#twiz_vertical_menu_box {
  max-width: 521px;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 1;    
}
#twiz_vertical_menu {
  margin: 27px 0 0 15px;
  padding: 3px;
  max-height: 500px;
  overflow: auto;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #333333;  
}
#twiz_vertical_menu div.twiz-menu{
    float: none;
}
#twiz_header, 
#twiz_footer,
#twiz_more_menu,
#twiz_menu,
#twiz_add_menu,
#twiz_delete_menu,
.twiz-menu {
    background-color: #333333;
}
#twiz_more_menu,
#twiz_add_menu,
#twiz_delete_menu,
#twiz_edit_menu {
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    width: 20px;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: normal;
    text-align: center    
}
#twiz_menu,
#twiz_vertical_menu,
#twiz_header, 
#twiz_footer {
    width: 498.5px;
    color: #EEEEEE;
    border: 1px solid #222222;
}
#twiz_header {
    border-bottom: 0px solid #222222;
}
#twiz_more_menu,
#twiz_header, 
#twiz_footer,
#twiz_add_menu,
#twiz_delete_menu,
#twiz_edit_menu,
.twiz-menu {
    padding: 5px;
}
.twiz-menu {
    font-size: 12px;
    text-align: left;
}
.twiz-status-menu {
    width: 25px;
    height: 24px;
    display: block;
    float: left;
    padding: 5px 11px 0 16px;
}
.twiz-output-label {
    width: 69px;
    float: right;
    padding: 0 5px 0 0;
    text-align: center;
    color: #BBBBBB;
}
#twiz_more_menu, 
#twiz_add_menu {
    line-height: 19px;
    height: 19px;    
}
#twiz_more_menu {
    font-size: 21px !important;  
    float: right;
    width: 30px;    
}
#twiz_add_menu {
    font-size: 21px !important; 
    width: 22px;  
}
.twiz-status-menu {
    cursor: pointer;
}
#twiz_option_menu  {
    width: 76px;
    display: block;
    float: right;
}
.twiz-menu:hover,
#twiz_more_menu:hover,
#twiz_add_menu:hover{
    color: #2ea2cc;
    cursor: pointer;
    background-color: #222222;
}
#twiz_edit_menu:hover,
#twiz_delete_menu:hover {
    background-color: #222222;
}
.twiz-menu-selected,
.twiz-menu-selected:hover {
    color: #ffffff;
    font-weight: bold;    
    background-color: #0074A2;
}
#twiz_delete_menu,
#twiz_edit_menu {
    width: 22px;  
}
#twiz_delete_menu,
#twiz_edit_menu,
.twiz-menu {
    float: left;
    height: 19px;
    line-height: 19px;
}
#twiz_add_menu {
    float: right;
}
.twiz-box-menu {
    width: 490px;
    font-size: 12px;
    display: block;
    padding: 10px 5px 12px 5px;
    background-color: #ffffff;
}
#twiz_section_name,
#twiz_lib_dir {
    width: 317px;
}
.twiz-box-fieldset legend {
   font-weight: bold;
}
.twiz-box-fieldset {
    height: 35px;
    display: block;
    border: 4px solid #0074A2;
    padding: 8px;
    margin: 10px 0;
}
#twiz_shortcode {
    width: 168px;
}
.twiz-shortcode-sample {
    width: 295px;
	font-size: 14px;
	color: blue;
}
.twiz-output-choice{
    margin-left: 15px !important;
}
#twiz_blog_id {
    height: 71px !important;
    width: 317px !important;
    min-height: 71px !important;
    min-width: 317px !important;
}
#twiz_slc_multi_sections {
    width: 490px;
    height: 355px !important;
    min-height: 355px !important;    
}
#twiz_slc_sections,
#twiz_custom_logic {
    width: 490px;
}
#twiz_custom_message{
    width: 490px;
    display: block;
    float: left;
}
[name=twiz_listmenu],
#twiz_lib_menu {
    padding: 4px;
    background-color: #ebebeb;
}
#twiz_far_matches {
    width : 130px;
}
#twiz_footer {
    min-height: 37px;
    display: block;
    text-align: center;
    font-size: 10px;
    padding: 6px 0 0 0;
    line-height: 0px;
}
.twiz-td-v-line {
    width: 1px;
}
.twiz-toggle-img  {
    position: absolute;
    left: -21px;
    top: -10px;
}
.twiz-toggle-img-view  {
    position: absolute;
    left: -21px;
    top: -17px;
}
.twiz-toggle-img-admin {
    position: absolute;
    left: -25px;
    top: -1px;
}
.twiz-toggle-img-far {
    position: absolute;
    left: -28px;
    top: -2px;
}
.twiz-select-event-list {
    width: 55px;
}
.twiz-element {
    height: 16px;
}
.twiz-checkbox {
    padding-top: 8px;
}
.twiz-table-list,
.twiz-table-form,
.twiz-list-tr {
    width: 500px;
}
.twiz-list-tr {
    height: 38px;
    min-height: 38px;
}
.twiz-table-far {
    width: 490px;
}
.twiz-table-section {
    width: 490px;
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;    
}
.twiz-table-section td{
    padding: 3px;    
}
.twiz-border-bottom {
    border-bottom: 1px #F7F7F7 solid;
}
.twiz-list-tr-action {
    height: 20px;
    visibility: hidden;
    display: block;
}
.twiz-list-tr-action a {
    font-size: 11px;
}
.twiz-list-tr-action a {
    cursor: pointer;
}
.twiz-table-list-tr-h, 
.twiz-table-list tr:hover {
    background-color: #e1e1e1;
}    
.twiz-table-far img,
.twiz-table-list img,
.twiz-table-form img,
.twiz-table-view img,
.twiz-arrow-lib-n,
.twiz-arrow-lib-s {
    cursor: pointer;
}
.twiz-table-list-td-h {
    font-size: 12px;
    padding: 4px;
}
.twiz-table-list-td {
    padding: 2px;
    font-size: 14px;
}
.twiz-text-center {
    text-align: center;
}
.twiz-text-right {
    text-align: right !important;
}
.twiz-text-center  .twiz-loading-bar {
    margin: 0 auto;
}
.twiz-text-right .twiz-loading-bar {
    margin: 0 0 0 auto;
}
.twiz-text-left {
    text-align: left !important;
}
.twiz-row-color-1 {
    background-color: #ebebeb;
}
.twiz-row-color-2 {
    background-color: #F7F7F7;
}
.twiz-row-color-3 {
    background-color: #e1e1e1;
}
.twiz-row-color-4 {
    background-color: #0074A2;
}
.twiz-td-status {
    width: 42px;
    padding-top: 4px;
}
.twiz-td-action {
    width: 85px;
}
.twiz-td-ifs-action {
    width: 30px;
}
.twiz-td-ifs-filter{
    width: 254px;
}
.twiz-td-ifs-filter input {
    width: 150px;
}
.twiz-td-lib-action,
.twiz-td-lib-order {
    width: 50px;
}
.twiz-td-action img {
    padding: 2px;
}
.twiz-td-duration,
.twiz-td-duration input {
    width: 50px;
}
.twiz-td-element {
    min-width: 143px;
}
.twiz-td-event {
    width: 70px;
}
.twiz-black {
    color: #000000 !important;
}
.twiz-blue {
    font-size: 11px !important;
    color: blue !important;
}
.twiz-green {
    font-size: 12px !important;
    color: green !important;
}
a.twiz-red:hover {
    color: red !important;
}
.twiz-red {
    color: #AA0000 !important;
}
.twiz-td-delay,
.twiz-td-delay input {
    width: 50px;
}
.twiz-arrow-lib {
    width: 25px;
    height: 25px;
    display: none;
    float: left;
}
.twiz-arrow-lib-n {
    background: url(../../skins/blue/images/twiz-arrow-lib-n.png) center no-repeat;
}
.twiz-arrow-lib-s {
    background: url(../../skins/blue/images/twiz-arrow-lib-s.png) center no-repeat;
}
.twiz-hscroll-arrow{
    float: right;
    position: relative;
    top: -13px;
    left: 2px;  
    background-size: 90% 90% !important;
}
.twiz-arrow {
    width: 45px;
    height: 45px;
    display: block;
}
.twiz-arrow-n {
    background: url(../../skins/blue/images/twiz-arrow-n.png) center no-repeat;
}
.twiz-arrow-ne {
    background: url(../../skins/blue/images/twiz-arrow-ne.png) center no-repeat;
}
.twiz-arrow-e {
    background: url(../../skins/blue/images/twiz-arrow-e.png) center no-repeat;
}
.twiz-arrow-se {
    background: url(../../skins/blue/images/twiz-arrow-se.png) center no-repeat;
}
.twiz-arrow-s {
    background: url(../../skins/blue/images/twiz-arrow-s.png) center no-repeat;
}
.twiz-arrow-sw {
    background: url(../../skins/blue/images/twiz-arrow-sw.png) center no-repeat;
}
.twiz-arrow-w {
    background: url(../../skins/blue/images/twiz-arrow-w.png) center no-repeat;
}
.twiz-arrow-nw {
    background: url(../../skins/blue/images/twiz-arrow-nw.png) center no-repeat;
}
.twiz-table-js-css {
    width: 238px;
}
#twiz_tab_cookie,
#twiz_tab_activation{
    height: 51px;
}
#twiz_tab_line {
    width: 231px;
    height: 0px;
    border-bottom:3px solid #0074A2;
    margin: 24px 0px 7px 0px;
    position: absolute;
}
.twiz-tab {
    cursor: pointer;
}
.twiz-tab {
    color: #cccccc;
    display: block;
    float: left;
    border: 1px solid #222222;
    padding: 4px 8px 4px 8px;
    margin: 0px 5px 8px 0px;
    background-color: #333333;
}
.twiz-tab-selected {
   color: #ffffff;
   background-color: #0074A2;
   border: 1px solid #0074A2;
   font-weight: bold;
}
.twiz-add-element {
   color: #AAAAAA;
}
.twiz-table-form {
    background-color: #ffffff;
    padding: 10px 5px 12px 5px;
}
.twiz-hr {
    height: 4px;
    border: 0px;
    margin: 15px 0 15px 0;
    background-color: #0074A2;
}
.twiz-table-form tr,
.twiz-table-section tr {
    height: 15px;
}
.twiz-caption {
    height: 30px;
    text-align: left;
    font-size: 12px;
}
.twiz-admin-form-td-left {
    width: 65%;
    height: 30px;
    padding-left: 3px;
    font-size: 12px;
}
.twiz-form-td-left {
    width: 260px;
    padding: 3px;
    font-size: 12px;
}
.twiz-form-td-right {
    padding: 3px;
    font-size: 12px;
    text-align: right;
}
.twiz-footer-vmenu {
    width: 500px;
}
.twiz-form-small {
    font-size: 10px !important;
}
.twiz-td-picklist {
    height: 30px;
    font-size: 12px;
    text-align: left;
    padding: 2px 0 2px 0;
}
.twiz-td-small-left {
    min-width: 25px;
    font-size: 12px;
}  
.twiz-view-td-small-left {
    min-width: 38px;
    font-size: 12px;
}    
.twiz-td-small-left-start {
    width: 60px;
    font-size: 12px;
}                             
.twiz-save-box-1 {
    margin: 0 6px 0 0;
}
.twiz-action-box {
    width: 50px;
}
.twiz-td-save {
    height: 25px;
    font-size: 12px;
    text-align: right;
    padding: 3px;
}
.twiz-input-far {
    width: 160px;
}
.twiz-input-html {
    width: 489px;
    height: 90px; 
    max-height: 375px;
    position: relative;
}
.twiz-input {
    width: 230px;
}
.twiz-input-e {
    width: 145px !important;
}
.twiz-td-move-e {
    width: 100px !important;
}
.twiz-input-small {
    width: 50px;
    text-align: right;
}
.twiz-input-small-d {
    width: 75px;
    text-align: right;
}
.twiz-wrap-input-large {
    height: 50px;
    position: relative;
    margin-bottom: 13px;
}
.twiz-wrap-input-large-css{
    height: 91px;
    position: relative;
    margin-bottom: 13px;
}
.twiz-wrap-input-large-far {
    width: 162px;
}
.twiz-input-large {
    height: 50px;
    max-height: 375px;    
    position: absolute;
}
.twiz-input-large-css {
    height: 91px;
    max-height: 375px;    
    position: absolute;
}
.twiz-input-focus:focus {
    background-color: lightyellow !important;
    border: #E6DB55 1px solid !important;
}
.twiz-slc-options,
.twiz-slc-js-features-css,
.twiz-slc-js-features {
    width: 230px;
}
#twiz_output_pos,
#twiz_output {
    font-size: 11px !important;
    position: relative;
    top: -3px;
}
.twiz-slc-easing {
    width: 104px;
    font-size: 11px !important;
    position: relative;
    top: -3px;
}
.twiz-table-more-options,
.twiz-slc-js-features,
#twiz_tr_starting_config,
.twiz-section-more-options {
    display: none;
}
.twiz-more-configs {
    font-size: 12px;
    padding-top: 5px;
}
.twiz-js-features a {
    line-height: 15px;
    font-size: 11px;
}
.twiz-loading-gif-save {
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
    padding-left: 19px;
}
#twiz_td_full_chooseid img,
#twiz_td_full_chooseid a  {
    margin-right: 5px;
}
#twiz_view_image {
    position: absolute;
    top: 15px;
    left: 3px;
    z-index: 1;
}
.twiz-table-view {
    padding: 16px 16px 0px 16px;
    margin: 5px;
}
.twiz-table-view-b {
    padding: 0px 18px 10px 18px;
    margin: 1px;
}
.twiz-view-td-left {
    width: 200px;
    padding: 0px;
    font-size: 13px;
}
.twiz-view-td-right {
    padding: 2px;
    font-size: 13px;
    text-align: left;
}            
.twiz-bold {
    font-weight: bold !important;
}
.twiz-view-table-more-options {
    width: 200px;
}
.twiz-status-green {
    color: green;
    font-size: 13px;
}
.twiz-status-red {
    color: #aa0000;
    font-size: 13px;
}
.twiz-float-left {
    float: left;
}
.twiz-float-right {
    float: right;
}
.twiz-relative {
    position: relative;
}
.twiz-absolute {
    position: absolute;
}
.twiz-footer-menu-button {
    height: 18px;
    background-color: #333333;
    border: 1px solid #222222;
    border-top: 0px;
    padding: 0 8px 0 8px;
    font-size: 12px;
    color: #BBBBBB;
    text-align: center;
    min-width: 45px;  
    float: left;
    cursor: pointer;
}
#twiz_import_menu,
#twiz_footer_library_menu  {
    top: -51px;
    left: 0px;
    width: 99px;
    height: 48px;    
    border: 1px solid #222222;
    background-color: #222222;     
}
#twiz_import_menu > div,
#twiz_footer_library_menu > div{
    padding: 3px;
}
#twiz_import_menu div,
#twiz_footer_library_menu div {
    width: 92px;
    text-align: left;
}
.twiz-footer-menu-button:hover {
    color: #2ea2cc;
    background-color: #222222;
}
#twiz_export_all {
    float: right;
    padding: 0 12px;
    right: 8px;
}
#twiz_export_all_url {
    min-width: 800px;
    margin: 22px 0 0 22px;
    font-size: 12px;
    color: #000000;
}
#twiz_export_url {
    min-width: 800px;
    margin: 22px 0 0 75px;
    font-size: 12px;
    clear: both;
}
#twiz_img_loading_export {
    margin: 3px 0px 5px 0px;
    float: left;
}
#twiz_export_url a {
    margin: 15px 3px 0px 0px;
}
#twiz_import,
#twiz_export,
#twiz_library_upload {
    float: left;
    margin-left: 8px;
}
#twiz_library,
#twiz_admin {
    float: right;
    margin-right: 8px;
}
.twiz-spacer {
    display: block;
    height: 5px;
}
.twiz-spacer-footer {
    display: block;
    height: 15px;
}
.twiz-display-none {
    display: none;
}
.twiz-display-block {
    display: block;
}
.twiz-cursor {
    cursor: pointer;
}
.twiz-vertical-align-top {
    vertical-align: top;
}
.twiz-noborder-right {
    border-right: 0 none !important;
}
.twiz-italic {
    font-style: italic;
}
#twiz_footer img{
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.twiz-unlink { 
    width: 22px;
    height: 16px;
    display: block;
    cursor: pointer;
    float: right;
    margin-right: 6px;
}
.twiz-library-unlink {
    background: url(../../images/twiz-unlink.png) no-repeat;
    background-size: 22px 11px;  
}
.twiz-success {
    background: url(../../images/twiz-success.gif) no-repeat;
    background-size: 16px 16px;    
}
#twiz_img_download_export {
    width: 135px;
    height: 20px;
    text-align: left;
    padding-left: 22px;
    background: url(../../images/twiz-download.png) center left no-repeat;
}
#twiz_var_dump {
    margin: 5px; 
    padding: 10px;
    left: 500px;
    width: 0px;
    height: 0px;
    display:none;
    resize: both;
    overflow: auto;
    position: absolute;
    cursor: pointer;
}