#twiz_plugin {
    width: 98%;
    margin-top: 9px;
    margin-bottom: 15px;
}
#twiz_master {
    width: 500px;
    margin-bottom: 80px;
    float: left;
}
#twiz_library_master {
    width: 500px;
    display: block;
}
#twiz_container {
    width: 500px;
    display: none;
}
.twiz-loading-gif {
    display: none;
    width: 20px;
    height: 20px;
    margin: 0px 1px;
}
.twiz-loading-gif-action {
    width: 20px;
    height: 20px;
    display: none;
    margin: 0px 1px 0 2px;
}
.twiz-loading-gif-action-d {
    width: 20px;
    height: 20px;
    display: none;
    margin: 0px 1px 0 1px;
}
.twiz-clear {
    clear: both;
}
#twiz_background {
    width: 84%;
    min-height: 500px;
    position: absolute;
    background: url(../../skins/blue/images/twiz-logo-big.png) top right no-repeat;    
    opacity: 0.15;    
    filter: alpha(opacity=4);
    z-index: -1;
}
#twiz_global_status,
#twiz_skin_bullet {
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;    
    -khtml-border-radius-topright: 6px;    
    -khtml-border-radius-topleft: 6px;        
    background: #8ecbe7;  
    border: 1px solid #5dbae5;
    border-bottom: 0px;
}
#twiz_global_status {
    margin: 0 0 0 233px;
    width: 25px;
    height: 25px;
}
#twiz_global_status img {
    margin: 3px;
}
#twiz_head_logo:hover,
#twiz_global_status img:hover,
.twiz-skins:hover {
    cursor: pointer;
}
.twiz-skins {
    padding-top: 6px;
    margin: 0 2px 0 2px;
    vertical-align: bottom;
}
#twiz_skin_bullet {
    width: auto;
    height: 25px;
    float: left;
    display: block;
    margin-left: 15px;
    position: relative;
    top: 0px;
    z-index: -1;
}
#twiz_right_panel {
    min-height: 200px;
    min-width: 415px;
    margin: 27px 0 0 15px;   
    color: #464646;
}
#twiz_vertical_menu,
#twiz_right_panel {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-radius-topleft: 6px;
    -khtml-border-radius-topright: 6px;    
    -khtml-border-radius-bottomleft: 6px;
    -khtml-border-radius-bottomright: 6px;        
    border: 1px solid #9DD2EA;
    display: none;
    float: left;
    z-index: 1;
}
#twiz_right_panel img {
    margin-left: auto;
    margin-right: auto;
}
.twiz-clear {
    height: 0px;
    clear: both;
}
.twiz-panel-loading {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-radius-topleft: 6px;
    -khtml-border-radius-topright: 6px;    
    -khtml-border-radius-bottomleft: 6px;
    -khtml-border-radius-bottomright: 6px;  
    border: 1px solid #ffffff;
    width: 420px;
    height: 200px;
    padding-top: 125px;
    text-align: center;
    background: #FFFFFF url(../../skins/blue/images/twiz-big-loading.gif) center no-repeat;   
}
#twiz_head_title {
    font-size: 22px;
    line-height: 35px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    text-shadow: 2px 2px 5px #9b9b9b;
    margin-top: 13px;
    display: block;
}
#twiz_head_title a {
    color: #333333;
    text-decoration: none;
}
#twiz_head_logo {
    width: 95px;
    height: 80px;
    background: url(../../skins/blue/images/twiz-logo.png) center no-repeat;   
    float: left;
    display: block;
}
#twiz_head_version {
    font-size: 12px;
}
#twiz_head_version a { 
    text-decoration: none;
}
#twiz_head_addnew {
    display: block;
    margin-right: 15px;
    height: 20px;
    width: 73px;
    float: right;
}
#twiz_header {
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-radius-topleft: 6px;
    -khtml-border-radius-topright: 6px;
    height: 85px;
    display: block;
    overflow: hidden;
}
#twiz_menu,
#twiz_vertical_menu,
#twiz_header, 
#twiz_footer {
    width: 500px;
    color: #333333;
    border: 1px solid #5dbae5;
}
#twiz_menu,
#twiz_header, 
#twiz_footer {
    display: table-cell;
}
#twiz_header {
    border-bottom: 0px solid #5dbae5;
}
#twiz_vertical_menu {
  margin: 27px 0 0 15px;  
  padding: 3px;
  max-height: 500px;
  overflow: auto;
}
#twiz_vertical_menu div.twiz-menu{
    float: none;
    border-top: 1px solid #ebebeb;
}
#twiz_header, 
#twiz_footer,
#twiz_more_menu,
#twiz_menu,
#twiz_add_menu,
#twiz_delete_menu,
.twiz-menu  {
    background-color: #8ecbe7;
}
#twiz_vertical_menu{
    background-color: #ffffff;
}
#twiz_more_menu,
#twiz_add_menu,
#twiz_delete_menu, 
#twiz_edit_menu {
    border-left: 1px solid #9DD2EA;
    border-right: 1px solid #9DD2EA;
    width: 20px;
    color: #4ea1c8;
    font-size: 14px;
    font-weight: normal;
    text-align: center    
}
#twiz_more_menu{
    border-right: 0px;
}
#twiz_more_menu,
#twiz_header, 
#twiz_footer,
#twiz_add_menu,
#twiz_delete_menu,
#twiz_edit_menu,
.twiz-menu {
    padding: 5px;
}
.twiz-menu {
    font-size: 12px;
    text-align: left;
    border-right: 1px solid #9DD2EA;
}
.twiz-menu:hover {
    color: #000000;
}
.twiz-status-menu {
    width: 25px;
    height: 24px;
    display: block;
    float: left;
    padding: 5px 7px 0 13px;
}
.twiz-output-label {
    width: 45px;
    float: right;
    padding: 0 5px 0 0;
    text-align: center;
    color: blue;
}
#twiz_more_menu,
#twiz_add_menu {
    font-size: 18px;
}
#twiz_more_menu:hover {
    font-weight: bold; 
}
#twiz_add_menu:hover {
    font-weight: bold; 
}
.twiz-status-menu:hover {
    cursor: pointer;
}
#twiz_option_menu  {
    width: 76px;
    display: block;
    float: right;
}
.twiz-menu:hover,
#twiz_more_menu:hover,
#twiz_add_menu:hover,
#twiz_delete_menu:hover {
    cursor: pointer;
    background-color: #2A98CB;
    color: #ffffff;
}
.twiz-menu-selected {
    font-weight:bold; 
    background-color: #2A98CB;  
    color: #ffffff;
}
#twiz_more_menu{
    float: right;
    width: 32px;
}
#twiz_edit_menu {
    background: url(../../skins/blue/images/twiz-menu-edit-bw.png) center no-repeat;    
}
#twiz_edit_menu:hover {
    background: url(../../skins/blue/images/twiz-menu-edit-color.png) center no-repeat;  
    cursor: pointer;
    background-color: #2A98CB;
}
#twiz_delete_menu {
    background: url(../../skins/blue/images/twiz-menu-delete-bw.png) center no-repeat;    
}
#twiz_delete_menu:hover {
    background: url(../../skins/blue/images/twiz-menu-delete-color.png) center no-repeat;  
    cursor: pointer;
    background-color: #2A98CB;
}
#twiz_more_menu,
#twiz_add_menu {
    min-height: 19px;
}
#twiz_delete_menu,
#twiz_edit_menu,
.twiz-menu {
    float: left;
    min-height: 19px;
}
#twiz_add_menu {
    float: right;
}
#twiz_add_sections {
    display: none;
    width: 494px;
    background-color: #8ecbe7; 
}
#twiz_multi_menu {
    border-top: 1px solid #5dbae5;
}    
#twiz_add_sections a:hover {
    cursor: pointer;
}
#twiz_multi_menu {
    width: 478px;
    display: block;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    float: left;
    background-color: #E4E4E4; 
}
#twiz_section_name {
    width: 175px;
}
#twiz_output_section {
    width: 478px;
    height: 35px;
    display: block;
}
.twiz-output-choice{
    margin-left: 19px;
}
#twiz_single_output,
#twiz_multiple_output,
#twiz_logic_output { 
    display: none;
}
#twiz_multi_action {
    float: right;
    text-align: right;
}
#twiz_slc_multi_sections {
    width: 478px;
    height: 555px !important;
}
#twiz_slc_sections {
    width: 478px;
}
#twiz_custom_logic {
    width: 478px;
}
#twiz_custom_message{
    width: 478px;
    display: block;
    float: left;
}
#twiz_footer {
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-radius-bottomleft: 6px;
    -khtml-border-radius-bottomright: 6px;       
    text-align: center;
    font-size: 10px;
}
#twiz_footer a {
    text-decoration: none;
}
#twiz_footer a:hover {
    text-decoration: underline;
}
.twiz-table-list,
.twiz-table-form {
    width: 500px;
}    
.twiz_list_tr_action {
    visibility: hidden;
    display: block;
}
.twiz_list_tr_action a {
    font-size: 11px;
}
.twiz_list_tr_action a:hover{
    cursor: pointer;
}
.twiz-table-list-tr-h, 
.twiz-table-list tr:hover {
    background-color: #9dd2ea;
}    
.twiz-table-list img:hover,
.twiz-arrow-lib-n:hover,
.twiz-arrow-lib-s:hover {
    cursor: pointer;
}
.twiz-table-list-td-h {
    font-size: 12px;
    padding: 4px;
}
.twiz-table-list-td {
    padding: 2px;
    font-size: 14px;
}
.twiz-td-center {
    text-align: center;
}
.twiz-td-left {
    text-align: left;
}
.twiz-td-right {
    text-align: right;
}
.twiz-text-right {
    text-align: right;
}
.twiz-row-color-1 {
    background-color: #def5ff;
}
.twiz-row-color-2 {
    background-color: #F7F7F7;
}
.twiz-td-status {
    width: 40px;
}
.twiz-td-action {
    width: 79px;
}
.twiz-td-lib-action,
.twiz-td-lib-order {
    width: 50px;
}
.twiz-td-action img {
    padding: 2px;
}
.twiz-td-duration {
    width: 55px;
}
.twiz-td-duration input {
    width: 55px;
}
.twiz-td-event {
    width: 50px;
}
.twiz-blue {
    font-size: 11px;
    color: blue;
}
.twiz-green {
    font-size: 12px;
    color: green;
}
.twiz-red {
    font-size: 12px;
    color: #BC0B0B;
}
.twiz-td-delay {
    width: 51px;
}
.twiz-td-delay input {
    width: 55px;
}
.twiz_ajax_td_edit {
    display: none;
}
.twiz-arrow-lib {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
}
.twiz-arrow-lib-n {
    background: url(../../skins/blue/images/twiz-arrow-lib-n.png) center no-repeat;  
}
.twiz-arrow-lib-s {
    background: url(../../skins/blue/images/twiz-arrow-lib-s.png) center no-repeat;  
}
.twiz-arrow {
    width: 45px;
    height: 45px;
    display: block;
}
.twiz-arrow-n {
    background: url(../../skins/blue/images/twiz-arrow-n.png) center no-repeat;  
}
.twiz-arrow-ne {
    background: url(../../skins/blue/images/twiz-arrow-ne.png) center no-repeat;  
}
.twiz-arrow-e {
    background: url(../../skins/blue/images/twiz-arrow-e.png) center no-repeat;  
}
.twiz-arrow-se {
    background: url(../../skins/blue/images/twiz-arrow-se.png) center no-repeat;  
}
.twiz-arrow-s {
    background: url(../../skins/blue/images/twiz-arrow-s.png) center no-repeat;  
}
.twiz-arrow-sw {
    background: url(../../skins/blue/images/twiz-arrow-sw.png) center no-repeat;  
}
.twiz-arrow-w {
    background: url(../../skins/blue/images/twiz-arrow-w.png) center no-repeat;  
}
.twiz-arrow-nw {
    background: url(../../skins/blue/images/twiz-arrow-nw.png) center no-repeat;  
}
.twiz-table-form, 
.twiz-table-view {
    background: #ffffff;  
    padding-top: 10px;
    padding-bottom: 12px;
}
.twiz-table-form hr, 
.twiz-table-view hr {
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -khtml-border-radius-topleft: 2px;
    -khtml-border-radius-topright: 2px;    
    -khtml-border-radius-bottomleft: 2px;
    -khtml-border-radius-bottomright: 2px;        
    height: 5px;
    border: 0px;
    margin: 15px 0 15px 0;
    background-color: #8ecbe7;
}
.twiz-caption {
    height: 30px;
    text-align: left;
    font-size: 12px;
}
.twiz-admin-form-td-left {
    width: 335px;
    padding: 3px;
    font-size: 12px;
}
.twiz-form-td-left {
    width: 260px;
    padding: 3px;
    font-size: 12px;
}
.twiz-form-td-right {
    padding: 3px;
    font-size: 12px;
    text-align: right;
}
.twiz-td-picklist {
    height: 30px;
    font-size: 12px;
    text-align: left;
    padding: 2px 0 2px 0;
}
.twiz-td-picklist a:hover {
    cursor: pointer;
}
.twiz-td-small-left {
    min-width: 25px;
    font-size: 12px;
}  
.twiz-view-td-small-left {
    min-width: 38px;
    font-size: 12px;
}    
.twiz-td-small-left-start {
    width: 60px;
    font-size: 12px;
}                             
.twiz-td-save {
    height: 25px;
    font-size: 12px;
    text-align: right;
}
.twiz-td-save a:hover {
    cursor: pointer;
}
.twiz-input-text {
    width: 230px;
}
.twiz-input {
    width: 230px;
}
.twiz-input-small {
    width: 50px;
    text-align: right;
}
.twiz-input-large {
    height: 50px;
}
.twiz-input[type=text]:focus,
.twiz-input-text[type=text]:focus,
.twiz-input-small[type=text]:focus
 {
    background-color: lightyellow;
    border: #E6DB55 1px solid;
}
.twiz-slc-options {
    width: 230px;
}
.twiz-table-more-options,
#twiz_tr_starting_config {
    display: none;
}
a.twiz-more-options:hover {
    cursor: pointer;
}
.twiz-more-options {
    font-size: 12px;
    padding-top: 5px;
}
.twiz-td-e-g {
    line-height: 15px;
    font-size: 11px;
}
.twiz-loading-gif-save {
    height: 15px;
    width: 15px;
}
#twiz_td_full_chooseid img {
    margin-right: 5px;
}
#twiz_td_full_chooseid a {
    margin-right: 5px;
}
.twiz-table-view {
    width: 415px;
    padding: 10px;
    margin: 1px;
}
.twiz-view-td-left {
    width: 242px;
    padding: 2px;
    font-size: 13px;
}
.twiz-view-td-right {
    padding: 2px;
    font-size: 13px;
    text-align: left;
}            
.twiz-bold {
    font-weight: bold;
}
.twiz-tr-view-more {
    display: none;
}
.twiz-view-table-more-options {
    width: 200px;
}
.twiz-status-green {
    color: green;
    font-size: 13px;
}
.twiz-status-red {
    color: #BC0B0B;
    font-size: 13px;
}
.twiz-float-left {
    float: left;
}
.twiz-float-right {
    float: right;
}
#twiz_import,
#twiz_export,
#twiz_library, 
#twiz_admin,
#twiz_library_upload {
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;    
    -khtml-border-radius-bottomright: 6px;    
    -khtml-border-radius-bottomleft: 6px;   
    height: 18px;
    background: #8ecbe7;     
    border: 1px solid #5dbae5;
    border-top: 0px;
    padding: 0 8px 0 8px;
    font-size: 12px;
    color: #333333;
}
#twiz_import:hover,
#twiz_export:hover,
#twiz_library:hover, 
#twiz_admin:hover, 
#twiz_library_upload:hover {
    color: #ffffff;
    background: #2A98CB;
    cursor: pointer;
}
#twiz_export_url {
    margin-left: 70px;
    font-size: 12px;
    clear: both;
}
#twiz_img_loading_export {
    margin: 3px 0px 5px 0px;
    float: left;
}
#twiz_export_url a {
    margin: 15px 3px 0px 0px;
    float: left;
}
#twiz_import,
#twiz_export,
#twiz_library_upload {
    float: left;
    margin-left: 8px;
}
#twiz_library,
#twiz_admin {
    float: right;
    margin-right: 8px;
}
#twiz_library_upload {
    display: none;
}
.twiz-preload-images {
    display: none;
}
#twiz_promo {
    height: 200px;
    display: block;
    top: 40px;
}
.twiz-spacer {
    display: block;
    height: 5px;
}
.twiz-display-none {
    display: none;
}
.twiz-display-block {
    display: block;
}
.twiz-noborder-right {
    border-right: 0px;
    padding-bottom: 0px;
    margin-top: 3px;
}