#twiz_plugin{
    width:98%;
    margin-top:40px;
    margin-left:15px;
    margin-bottom:15px;
}
#twiz_master{
    width:500px;
    float:left;
}
#twiz_container{
    width:500px;
    display:none;
}
.twiz-loading-gif{
    display:none;
    height:20px;
    width:20px;
    margin:0px 1px;
}
#twiz_background {
    z-index:-1;
    position:absolute;
    width:84%;
    min-height:500px;
    opacity:0.15;    
    background:url(../images/twiz-logo-big.png) top right no-repeat;    
}
#twiz_global_status{
    margin:0 0 0 233px;
    width:25px;
    height:25px;
    border:1px solid #D1D1D1;
    background:-moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, center bottom, from(#D7D7D7), to(#E4E4E4));
    background:-khtml-gradient(linear, left top, center bottom, from(#D7D7D7), to(#E4E4E4));    
    -moz-border-radius-topright:6px;
    -moz-border-radius-topleft:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;    
    -khtml-border-radius-topright:6px;    
    -khtml-border-radius-topleft:6px;        
}
#twiz_global_status img{
    margin:3px;
}
#twiz_global_status img:hover{
    cursor:pointer;
}
#twiz_right_panel {
    float:left;
    color:#464646;
    min-height:200px;
    display:none;
    min-width:450px;
    margin:27px 0 0 25px;
    padding:10px;    
    border:1px solid #D1D1D1;
    background:-moz-linear-gradient(center bottom , #ffffff, #F7F7F7) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, center bottom, from(#ffffff), to(#F7F7F7));
    background:-khtml-gradient(linear, left top, center bottom, from(#ffffff), to(#F7F7F7));
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -khtml-border-radius-topleft:6px;
    -khtml-border-radius-topright:6px;    
    -khtml-border-radius-bottomleft:6px;
    -khtml-border-radius-bottomright:6px;        
}
#twiz_right_panel img{
    align:center;
}
.twiz-clear{
    height:0px;
    clear:both;
}
.twiz-panel-loading{
    width:450px;
    height:200px;
    padding-top:120px;
    text-align:center;
}
/***********/
#twiz_head_title{
    font-size:22px;
    line-height:35px;
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}
#twiz_head_version{
    font-size:8px;
}
#twiz_head_addnew{
    float:right;
    margin-right:15px;
}
#twiz_header{
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -khtml-border-radius-topleft:6px;
    -khtml-border-radius-topright:6px
}
#twiz_header, #twiz_footer{
    color:#464646;
    text-shadow:2px 2px 6px #666666;
    border:1px solid #D1D1D1;
    background:-moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, center bottom, from(#D7D7D7), to(#E4E4E4));
    background:-khtml-gradient(linear, left top, center bottom, from(#D7D7D7), to(#E4E4E4));
    display:table-cell;
    width:500px;
    padding:5px;
}
#twiz_header img{
    width:80px;
    padding-right:3px;
    display:inline;
}
/***********/
#twiz_footer {
    text-align:center;
    font-size:8px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -khtml-border-radius-bottomleft:6px;
    -khtml-border-radius-bottomright:6px;    
}
#twiz_footer a{text-decoration:none;}
#twiz_footer a:hover{text-decoration:underline;}
/**************/
.twiz-table-list{
    width:500px;
}    
.twiz-table-list-tr-h, .twiz-table-list tr:hover{
    background:-moz-linear-gradient(center bottom , #ebebeb, #E4E4E4) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, center bottom, from(#ebebeb), to(#E4E4E4));
    background:-khtml-gradient(linear, left top, center bottom, from(#ebebeb), to(#E4E4E4));
}    
.twiz-table-list img:hover{
    cursor:pointer;
}
.twiz-table-list-td-h{
    font-size:11px;
    padding:4px;
}
.twiz-table-list-td{
    padding:2px;
    font-size:12px;
}
.twiz-td-center{
    text-align:center;
}
.twiz-td-left{
    text-align:left;
}
.twiz-td-right{
    text-align:right;
}
.twiz-row-color-1{
    background-color:#F3F3F3;
}
.twiz-row-color-2{
    background-color:#F7F7F7;
}
.twiz-td-action{
    min-width:50px;
}
.twiz-td-action img{
    padding:2px;
}
.twiz-td-duration{
    min-width:50px;
}
.twiz-td-delay input{
    width:50px;
}
.twiz-xx{
    font-size:10px;
    color:green;
}
.twiz_ajax_td_edit{
    display:none;
}
/******************/
.twiz-table-form, .twiz-table-view{
    padding-bottom:15px;
    padding-top:10px;
    background:-moz-linear-gradient(center bottom , #ffffff, #F7F7F7) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, center bottom, from(#F7F7F7), to(#F7F7F7));
    background:-khtml-gradient(linear, left top, center bottom, from(#F7F7F7), to(#F7F7F7));    
}
.twiz-table-form hr, .twiz-table-view hr{
    margin:15px 0 15px 0;
    background-color:#ebebeb;
    border:0px;
    height:5px;
    -moz-border-radius-topleft:2px;
    -moz-border-radius-topright:2px;
    -moz-border-radius-bottomleft:2px;
    -moz-border-radius-bottomright:2px;
    -webkit-border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -khtml-border-radius-topleft:2px;
    -khtml-border-radius-topright:2px;    
    -khtml-border-radius-bottomleft:2px;
    -khtml-border-radius-bottomright:2px;        
}
.twiz-caption{
    height:30px;
    text-align:left;
    font-size:12px;
}
.twiz-form-td-left{
    width:260px;
    padding:2px;
    font-size:12px;
}
.twiz-form-td-right{
    padding:2px;
    font-size:12px;
    text-align:left;
}
.twiz-td-picklist{
    text-align:right;
    font-size:12px;
    padding:2px 0 2px 0;
    height:30px;
}
.twiz-td-picklist a:hover{
    cursor:pointer;
}
.twiz-td-small-left, .twiz-view-td-small-left{
    width:40px;
    font-size:12px;
}                                
.twiz-td-save{
    text-align:right;
    font-size:12px;
    height:30px;
}
.twiz-td-save a:hover{
    cursor:pointer;
}
.twiz-input{
    width:230px;
}
.twiz-input[type=text]:focus{
    background-color:lightyellow;
    border:#E6DB55 1px solid;
}
.twiz-input-small{
    width:50px;
    text-align:right;
}
.twiz-input-large{
}
.twiz-slc-options{
    width:100%;
}
.twiz-table-more-options{
    display:none;
}
a.twiz-more-options:hover{
    cursor:pointer;
}
.twiz-more-options{
    font-size:12px;
}
.twiz-td-e-g{
    line-height:15px;
    font-size:10px;
}
.twiz-loading-gif-save{
    height:15px;
    width:15px;
}
#twiz_td_full_chooseid img{
    margin-right:5px;
}
#twiz_td_full_chooseid a{
    margin-right:5px;
}
/*******************/
.twiz-table-view{
    width:450px;
}
.twiz-view-td-left{
    width:242px;
    padding:2px;
    font-size:12px;
}
.twiz-view-td-right{
    padding:2px;
    font-size:12px;
    text-align:left;
}            
.twiz-bold{
    font-weight:bold;
}
.twiz-view-table-more-options{
    min-width:200px;
}
.twiz-green{
    color:green;
    font-size:14px;
}
.twiz-red{
    color:red;
    font-size:14px;
}
/******************/
#twiz_messagebox{
    background:url(../images/twiz-success.gif) no-repeat 10px 50% #F0FFF0;
    border:1px solid #00FF00;
    height:25px;
    padding:7px 0 0 35px;
    font-size:12px;
    font-weight:bold;
    color:#098809;
    width:363px;
}